{% extends 'base.html.twig'%}

{% block meta %}
    <title>Studio 360 Video - Accueil</title>
    <meta name="description" content="Studio 360 Video - Un grand choix de vidéos 360° et réalité virtuelle. Postez vos vidéos et partagez les sur vos resaux sociaux. Aucune inscription Totalement Gratuit" />
    <meta name="author" content="Louis Réjou" />
    <meta name="keywords" content="video, 360, realitée virtuel, youtube, note, description, louis réjou, HD, vr, partage">

    <meta property="og:title" content="Studio 360 Video - Accueil" />
    <meta property="og:description" content="Studio 360 Video - Un grand choix de vidéos 360° et réalité virtuelle. Postez vos vidéos et partagez les sur vos resaux sociaux. Aucune inscription Totalement Gratuit" />

    <meta name="twitter:title" content="Studio 360 Video - Accueil">
    <meta name="twitter:description" content="Studio 360 Video - Un grand choix de vidéos 360° et réalité virtuelle. Postez vos vidéos et partagez les sur vos resaux sociaux. Aucune inscription Totalement Gratuit">
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}

<div id="container">

    <div class="slider">
        <div class="silde-buttonright"> <i class="fas fa-chevron-right"></i> </div>
        <div class="slide-buttonleft"> <i class="fas fa-chevron-left"></i> </div>
        <div class="slider-img1 slideimg">
            <img src="{{ asset('images/slide_IMG1.png') }}" alt="image 1 du slide" />
            <div class="slider_texte">
                <span class="slider_titre1">
                    Studio 360 Video
                </span>
                <span class="slider_titre2">
                    Postez et partagez vos vidéos 360°
                </span>
            </div>
        </div>
        <div class="slider-img2 slideimg">
            <img src="{{ asset('images/slide_IMG2.png') }}" alt="image 2 du slide"/>
            <div class="slider_texte">
                <span class="slider_titre1">
                    Un grand choix de vidéos 360°
                </span>
                <span class="slider_titre2">
                    À voir aussi en réalité virtuelle
                </span>
            </div>
        </div>
    </div>

    <div class="home-entete-tablette">
        <span class="titre1">
            Studio 360 Video
        </span>
        <span class="titre2">
            Postez et partagez vos vidéos 360°
        </span>
    </div>

    <div class="link-rs">
        <a target="_blank" title="Facebook" href="#" ><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" title="Twitter" href="#" ><i class="fab fa-twitter-square"></i></a>
        <a target="_blank" title="Linkedin" href="#" ><i class="fab fa-linkedin"></i></a>
    </div>


    <div class="topVideo">
        <h2>Nos vidéos les mieux notées</h2>

        <div>
            {% for video in videos  %}
            <a class="topVideo_div" href="video/{{ video.id }}">
                <img src="https://img.youtube.com/vi/{{ video.link }}/0.jpg" alt="image vidéo : {{ video.name }}"/>
                <span>{{ video.name }}</span>
            </a>
            {% endfor %}
        </div>
        <a class="button1" href="/annuaire"> <i class="fas fa-film"></i> Voir plus de vidéos</a>
    </div>

    <div class="tuto">
        <h2>Comment ça marche ?</h2>
        <p>Filmez vos vidéos 360° avec votre matériel et postez cette vidéo sur notre site internet.
            <br>
            Partagez le contenu sur vos différents réseaux sociaux afin de gagner en visibilité.
        </p>
        <a class="button2" href="/tuto">Comment faire une video 360° ?</a>
    </div>




</div>

{% endblock %}