
        {% for video in videos  %}
            <a href="video/{{ video.id }}">
                <img src="https://img.youtube.com/vi/{{ video.link }}/0.jpg" alt="{{ video.name }}"/>
                <span class="annuaire-dateVideo" ><i class="far fa-calendar-alt"></i> {{video.date ? video.date|date('d/m/Y') : '' }}</span>
                <span class="annuaire-titreVideo">{{ video.name }}</span>
                <div class="annuaire-noteContainer">
                {% set somme = 0 %}

                {% for note in video.notes %}
                    {% set somme = somme + note.note %}
                {% endfor %}

                {% if somme == 0 %}
                    <div class="barrenote"><div style="width:50%;" ></div></div>
                {% else %}
                    {% set somme = somme / video.notes|length %}
                    {% set Poucent = somme * 20 %}
                        <div class="barrenote"><div style="width:{{ Poucent }}%;" ></div></div>
                {% endif %}
                

                {% set somme = 0 %}
                    <div class="moyNote">
                    {% for note in video.notes %} 
                        {% set somme = somme + note.note %}
                    {% endfor %}
                    {% if somme == 0 %}
                        0
                    {% else %}
                        {% set moy = somme / video.notes|length %}
                        {{ moy|round(1, 'common') }}
                    {% endif %}
                    
                    
                     / 5</div>
                    
                    <div class="nbNote">{{ video.notes|length }} avis</div>
                </div>
            </a>
        {% endfor %}