        {% for video in videos  %}
            <a href="video/{{ video.id }}">
                <img src="https://img.youtube.com/vi/{{ video.link }}/0.jpg" alt="{{ video.name }}"/>
                <span class="annuaire-dateVideo" >{{video.date ? video.date|date('d/m/Y H:i:s') : '' }}</span>
                <span class="annuaire-titreVideo">{{ video.name }}</span>
                <div class="annuaire-noteContainer">
                    <div class="barrenote"><div style="width:50%;" ></div></div>
                    <div class="moyNote">
                    {% set somme = 0 %}
                    {% for note in video.notes %} 
                        {% set somme = somme + note.note %}
                    {% endfor %}
                    {% if somme == 0 %}
                        0
                    {% else %}
                        {% set somme = somme / video.notes|length %}
                        {{ somme|round(1, 'common') }}
                    {% endif %}
                    
                    
                     / 5</div>
                    
                    <div class="nbNote">{{ video.notes|length }} avis</div>
                </div>
            </a>
        {% endfor %}