{% extends 'base.html.twig'%}


{% block stylesheets %}  
    <link href="{{ asset('css/tuto.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}

<div id="container">
    <div class="tuto-haut">
        <h1>Comment faire une video 360° ?</h1>
    </div>

    <div class="tuto-flexcontainer">
        <div>
            <img src="{{ asset('images/tuto_IMG1.png') }}" alt="image youtube"/>
        </div>
        <div class="texteright">
            <h2>Le materiel</h2>
            <p>Vous aurez besoin d'une camera qui film en 360°. Beaucoup de model existe pour les smartphones comme la <a href="https://www.amazon.fr/Insta-360-air-Chambre-avec-USB-Type/dp/B06W9MJBXZ/ref=as_li_ss_tl?ie=UTF8&qid=1493323311&sr=8-3&keywords=insta360+air&linkCode=sl1&tag=0tech-21&linkId=3472decf50dad694ae301e338e5ec975">INSTA360 C</a>
            ou la <a href="https://www.samsung.com/fr/wearables/gear-360-sm-r210/">Gear 360</a> de chez samsung.
            <br> Des camera 360° plus professionnel existe. A vous de choisir en fonction de vos projets.
            </p>
        </div>
    </div>


    <div class="tuto-flexcontainer">
        <div class="texteleft">
            <h2>Utilisation</h2>
            <p>
                Il vous suffira de connecter votre camera à votre smartphone et d'utilisé l'application pour filmé. <strong>Attention: Les videos 360° prennent beaucoup de mémoire.</strong>
            </p>
        </div>
        <div>
            <img src="{{ asset('images/tuto_IMG2.png') }}" alt="image youtube"/>
        </div>
    </div>


    <div class="tuto-flexcontainer">
        <div>
            <img src="{{ asset('images/tuto_IMG3.png') }}" alt="image youtube"/>
        </div>
        <div class="texteright">
            <h2>Publication de la video</h2>
            <p>
                Une fois votre vidéo faite vous pourrez directement la poster sur Youtube grace à votre Smartphone ou votre ordinateur.
            </p>
        </div>
    </div>

    <div class="tuto-flexcontainer">
        <div class="texteleft">
            <h2>Publication sur notre site</h2>
            <p>
                Pour finir, allez <a href="/addvideo"> notre site internet</a> pour y poster votre video. Si elle est validé elle apparaitra rapidement avec les autres videos.
            </p>
        </div>
        <div>
            <img src="{{ asset('images/tuto_IMG4.png') }}" alt="image youtube"/>
        </div>
    </div>

    <div class="tuto-posteVideo">
        <h3>Vous aussi postez une vidéo</h3>
        <a class="button1" href="/addvideo">Postez une vidéo</a>
    </div>


</div>

{% endblock %}