{% extends 'baseadmin.html.twig'%}

{% block body%}
<div class="container">
    <div class="video-container">

    <h2>{{ video.name }}</h2>
    <div class="video-div-iframe">
        <iframe src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>{{ video.description }}</p>

    <div class="video-div-button">
        <a class="button1" href="../validationVideoAdmin/{{ video.id }}">Valider cette vidéo</a>
        <a class="button1" href="../deleteVideoAdmin/{{ video.id }}">Effacer cette vidéo</a>
    </div>

    </div>
</div>

{% endblock %}