{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block stylesheets %}  
    <link href="{{ asset('css/video.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}


<div class="container">
    <div class="video-container">
        <h1>{{ video.name }}</h1>
        <span>date : {{video.date ? video.date|date('d/m/Y H:i:s') : '' }}</span>
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        {% set somme = 0 %}
        {% for note in video.notes %} 
            {% set somme = somme + note.note %}
        {% endfor %}
        {% if somme == 0 %}
            <div class="video-noteContainer">
                <div class="barrenote"><div style="width:0%;" ></div></div>
                <div class="moyNote">0 / 5</div>
                <div class="nbNote">0 avis</div>
                <button id="buttonVote" class="button1 buttonvote">Votez</button>
            </div>
        {% else %}
            {% set somme = somme / video.notes|length %}
            <div class="video-noteContainer">
                {% set Poucent = somme * 20 %}
                <div class="barrenote"><div style="width:{{ Poucent }}%;" ></div></div>
                <div class="moyNote">{{ somme|round(1, 'common') }} / 5</div>
                <div class="nbNote">{{ video.notes|length }} avis</div>
                <button id="buttonVote" class="button1 buttonvote">Votez</button>
            </div>
        {% endif %}


        <div id="modalVote">
            <div>
                <div class="buttonClose"><i class="fas fa-times"></i></div>
                Choisissez une note :
                <div class="zoneVote">
                    <div id="vote1" class="voteCercle"><div>1</div></div>
                    <div id="vote2" class="voteCercle"><div>2</div></div>
                    <div id="vote3" class="voteCercle"><div>3</div></div>
                    <div id="vote4" class="voteCercle"><div>4</div></div>
                    <div id="vote5" class="voteCercle"><div>5</div></div>
                    /5
                </div>
            </div>
        </div>



        <p>{{ video.description }}</p>



    </div>
</div>

<script>
    var page = {{ video.id }};
</script>


{% endblock %}
