{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}


<div class="container">
    <div class="video-container">
        <h1>{{ video.name }}</h1>
        <span>date : {{video.date ? video.date|date('d/m/Y H:i:s') : '' }}</span>
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        {% set somme = 0 %}
        {% for note in video.notes %} 
            {% set somme = somme + note.note %}
        {% endfor %}
        {% if somme == 0 %}
            0
        {% else %}
            {% set somme = somme / video.notes|length %}
            <div class="video-noteContainer">
                {% set Poucent = somme * 20 %}
                <div class="barrenote"><div style="width:{{ Poucent }}%;" ></div></div>
                <div class="moyNote">{{ somme|round(1, 'common') }} / 5</div>
                <div class="nbNote">{{ video.notes|length }} avis</div>
            </div>
        {% endif %}



        <p>{{ video.description }}</p>



    </div>
</div>

{% endblock %}
