{% extends 'base.html.twig' %}

{% block meta %}
    <title>Studio 360 Video - {{ video.name }} </title>
    <meta name="description" content="{{ video.description }}" />
    <meta name="author" content="Louis Réjou" />
    <meta name="keywords" content="video, 360, realité virtuelle, youtube, note, description, louis réjou, HD, vr, partage">

    <meta property="og:title" content="Studio 360 Video - {{ video.name }} " />
    <meta property="og:description" content="{{ video.description }}" />
    <meta property="og:image" content="https://img.youtube.com/vi/{{ video.link }}/0.jpg" />

    <meta name="twitter:title" content="Studio 360 Video - {{ video.name }} ">
    <meta name="twitter:description" content="{{ video.description }}">
{% endblock %}

{% block stylesheets %}  
    <link href="{{ asset('css/video.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}


<div class="container">
    <div class="video-container">
        <h1>{{ video.name }}</h1>
        <span><i class="far fa-calendar-alt"></i> {{video.date ? video.date|date('d/m/Y') : '' }}</span>
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-noteContainer">
        {% set somme = 0 %}
        {% for note in video.notes %} 
            {% set somme = somme + note.note %}
        {% endfor %}
        {% if somme == 0 %}
                <div class="barrenote"><div style="width:0%;" ></div></div>
                <div class="moyNote">0 / 5</div>
                <div class="nbNote">0 avis</div>
                <button id="buttonVote" class="button1 buttonvote">Votez</button>
        {% else %}
            {% set somme = somme / video.notes|length %}
                {% set Poucent = somme * 20 %}
                <div class="barrenote"><div style="width:{{ Poucent }}%;" ></div></div>
                <div class="moyNote">{{ somme|round(1, 'common') }} / 5</div>
                <div class="nbNote">{{ video.notes|length }} avis</div>
                <button id="buttonVote" class="button1 buttonvote">Votez</button>
        {% endif %}
        </div>

        <div class="partage-rs">
            <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u=https://tontonduweb.com/previews-warc/genieCivil/article1.html" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes');return false;"><i class="fab fa-facebook-square"></i></a>
            <a target="_blank" title="Twitter" href="https://twitter.com/share?url=https://bit.ly/2sI7H3v" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes');return false;"><i class="fab fa-twitter-square"></i></a>
            <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://tontonduweb.com/previews-warc/genieCivil/article1.html" rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes');return false;"><i class="fab fa-linkedin"></i></a>
        </div>

        <div id="modalVote">
            <div>
                <div class="buttonClose"><i class="fas fa-times"></i></div>
                Choisissez une note :
                <div class="zoneVote">
                    <div id="vote1" class="voteCercle"><div>1</div></div>
                    <div id="vote2" class="voteCercle"><div>2</div></div>
                    <div id="vote3" class="voteCercle"><div>3</div></div>
                    <div id="vote4" class="voteCercle"><div>4</div></div>
                    <div id="vote5" class="voteCercle"><div>5</div></div>
                    /5
                </div>
            </div>
        </div>



        <p>{{ video.description }}</p>



    </div>
</div>

<script>
    var page = {{ video.id }};
</script>


{% endblock %}
