<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        {% block meta %}{% endblock %}

        <meta name="robots" content="index, nofollow">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/header.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/footer.css') }}" rel="stylesheet" />
        <link href="{{ asset('fontawesome-free-5.9.0-web/css/all.css') }}" rel="stylesheet" />
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146389315-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146389315-1');
        </script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <header>
            <div>
                <a href="/">
                    <img src="{{ asset('images/LogoIUT80px.png') }}" alt="logo IUT Université de Bordeaux"/>
                </a>
                <div>
                    <a href="/annuaire" class="header-link"> <i class="fas fa-film"></i> Nos Vidéos</a>
                    <a href="/tuto" class="header-link"> Comment faire une vidéo 360° ?</a>
                    <a href="/addvideo" class="header-addvideo"> <i class="fas fa-upload"></i> </a>
                </div>
            </div>
        </header>



        {% block body %}{% endblock %}

        <footer>
            <div class="footer-firstpart">
                <div>
                    <img src="{{ asset('images/LogoIUT80px.png') }}" alt="logo IUT Université de Bordeaux"/>
                </div>
                <div class="footer-rs">
                    <span>Réseaux sociaux :</span><br>
                    <a href="#" ><i class="fab fa-facebook-square"></i></a>
                    <a href="#" ><i class="fab fa-twitter-square"></i></a>
                </div>
                <div class="footerpagesite">
                    <span>Page : </span>
                    <a href="/">Accueil</a>
                    <a href="/annuaire">Nos vidéos</a>
                    <a href="/addvideo">Ajouter une vidéo</a>
                    <a href="/ml">Conditions générales d'utilisation</a>
                </div>
            </div>

            <div class="footer-secondpart">
                <span>©Nom 2019</span>
                <a href="/admin">Espace administration</a>
            </div>
        </footer>


        {% block javascripts %}
        <script src="{{ asset('js/slider/init.js') }}"></script>

        <script src="{{ asset('js/vote/init.js') }}"></script>

        <script src="{{ asset('js/loadvideo/ajax.js') }}"></script>
        
        {% endblock %}
    </body>
</html>
